

<section style="background: rgb(232 232 232);height: 600px;">
    <div class="container">
        <div class="col-md-12" style="padding: 30px;">
            <h1 class="text-center" style="margin-bottom: 40px;color: rgb(65, 65, 65);font-size: 28px;">INFORMATION PORTAL</h1>
            <div class="row">
                <div class="col-md-8">
                    <div class="card" style="padding: 10px;border-radius: 20px;">
                        <h6>List View</h6>
                        <table>
                            <tr>
                              <th>No</th>
                              <th>Name</th>
                              <th>Gender</th>
                              <th>Email</th>
                              <th>Number</th>
                              <th>Message</th>
                            </tr>
                            <tr *ngFor="let data of tabledata">
                              <td>{{data.no}}</td>
                              <td>{{data.name}}</td>
                              <td>{{data.gender}}</td>
                              <td>{{data.email}}</td>
                              <td>{{data.phone}}</td>
                              <td>{{data.message}}</td>           
                            </tr>        
                          </table>
                    </div> 
                </div>
                <div class="col-md-4">
                    <div class="card" style="height: 330px;padding: 10px;border-radius: 20px;">
                        <h6>Pie Chart</h6>
                        <div class="container" style="margin-top: 20px;">
                        
                            <div class="item">
                            </div>
                            <div class="item">
                                <canvas baseChart chartType="doughnut" [data]="doughnutChartData" [labels]="doughnutChartLabels" [legend]="true">
                                </canvas>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>


