<section style="background: rgb(232 232 232);height:700px;">
    <div class="container">
        <div class="col-md-12" style="padding: 30px;">
            <h1 class="text-center" style="margin-bottom: 40px;color: rgb(65, 65, 65);font-size: 28px;">INFORMATION PORTAL</h1>
            <div class="row">
                
            <div class="col-md-6">
                <div class="card" style="border-radius: 20px;">
                    <div class="text-center" style="border-radius: 20px;width: 100%;height: 200px;background: #ffa9a9;;padding: 20px;">
                        <div>
                            <img src="../../../assets/images/person-1768015-1502189.png" width="20%" alt="">

                        </div>
                        <button class="btn" style="border-radius: 30px;height: 34px; width: 150px;background: #ff0033;color: white;" routerLink="/list">List View</button>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div  class="card" style="border-radius: 20px;">
                    <div class="text-center" style="border-radius: 20px;width: 100%;height: 200px;background: #c9f3c9;padding: 20px;">
                        <div>
                            <img src="../../../assets/images/google-forms-2-569456.png" width="20%" alt="">
                        </div>
                        <button class="btn" style="border-radius: 30px;height: 34px; width: 150px;background: #41a145;color: white;"  routerLink="/form">Form</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
