<section style="background: rgb(232 232 232);height: 700px;">
    <div class="container">
        <div class="col-md-12"style="padding: 30px;">
            <h1 class="text-center" style="margin-top: 40px;margin-bottom: 40px;color: rgb(65, 65, 65);font-size: 28px;">INFORMATION PORTAL</h1>
            <div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
    <div class="card" style="padding: 10px;border-radius: 20px;">
        <div  class="form text-center">
        <h3 class="text-center">Form</h3>
        <div style="padding: 5px;">
            <input type="text" [(ngModel)]="name" placeholder="Name" class="input" required>
            <P *ngIf="namechk == true" style="color: red;">Name is Required*</P>
        </div>
        <div class="row text-center" style="padding: 5px;margin-left: 60px;">
            
            <input style="margin-top: 5px;margin-right: 5px;" type="radio" value="Male" (change)="maleChange($event)" [(ngModel)]="genders"  name="gender" >
            <label for="male">Male</label><br>
            <input style="margin-left: 5px;margin-right: 5px;margin-top: 5px;" type="radio"  value="Female" (change)="femaleChange($event)" [(ngModel)]="genders"  name="gender" >
            <label for="female">Female</label><br>
        </div>
        <P *ngIf="genderChk == true" style="color: red;">Gender is Required*</P>

        <div style="padding: 5px;">
            <input type="email" class="input" [(ngModel)]="email" placeholder="Email" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
            <P *ngIf="emailChk == true" style="color: red;">{{emailErrormsg}}</P>
        </div>
        <div style="padding: 5px;">
            <input type="tel" (input)="numberValidation($event)" class="input" maxlength="10" [(ngModel)]="phone" placeholder="Contact Number">
            <P *ngIf="phoneChk == true" style="color: red;">Phone is Required*</P>

        </div>
        <div style="padding: 5px;">
            <textarea class="input"   [(ngModel)]="message" placeholder="Message" rows="3"></textarea>
        </div>
        <p *ngIf="status == true" style="color: green;">Submitted Successfully</p>
        <div>
            <button  class="btn"  (click)="submitForm()" style="border-radius: 20px;background: grey;height: 34;width: 150px;color: white;">Submit</button>
        </div>
    </div>
      
    </div>
</div>
<div class="col-md-4"></div>
</div>
        </div>
    </div>
</section>